<app-demo
    title="Zero State"
    description="Displays a message and optional action button when no data is available."
>
    <section class="examples">
        <app-demo-example
            class="margin-bottom-heavy"
            description="Simple message, no action button"
            tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/zero-state-demo/examples/zero-state-example-1/zero-state-example-1.component.ts"
        >
            <div class="example">
                <app-zero-state-example-1></app-zero-state-example-1>
            </div>
        </app-demo-example>

        <app-demo-example
            description="Message with action button"
            tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/zero-state-demo/examples/zero-state-example-2/zero-state-example-2.component.ts"
            templateSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/zero-state-demo/examples/zero-state-example-2/zero-state-example-2.component.html"
        >
            <div class="example">
                <app-zero-state-example-2></app-zero-state-example-2>
            </div>
        </app-demo-example>
    </section>
</app-demo>
