<app-demo
    title="Zero State"
    description="Displays a message and optional action button when no data is available."
    tsSourceUrl="projects/hammerhead-ui/src/lib/components/zero-state/zero-state.component.ts"
    templateSourceUrl="projects/hammerhead-ui/src/lib/components/zero-state/zero-state.component.html"
>
        <app-demo-example
            class="margin-bottom-heavy"
            description="Simple message, no action button"
            tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/zero-state-demo/examples/zero-state-example-1/zero-state-example-1.component.ts"
        >
            <app-zero-state-example-1></app-zero-state-example-1>
        </app-demo-example>

        <app-demo-example
            description="Message with action button"
            tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/zero-state-demo/examples/zero-state-example-2/zero-state-example-2.component.ts"
            templateSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/zero-state-demo/examples/zero-state-example-2/zero-state-example-2.component.html"
        >
            <app-zero-state-example-2></app-zero-state-example-2>
        </app-demo-example>
</app-demo>
