<app-demo
    title="Data Table"
    description="Displays tabular data."
    tsSourceUrl="projects/hammerhead-ui/src/lib/components/data-table/data-table.component.ts"
    templateSourceUrl="projects/hammerhead-ui/src/lib/components/data-table/data-table.component.html"
>
    <app-demo-example
        class="margin-bottom-heavy"
        description="Simple table"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/data-table-demo/examples/data-table-example-a/data-table-example-a.component.ts"
    >
        <app-data-table-example-a></app-data-table-example-a>
    </app-demo-example>

    <app-demo-example
        description="Simple table with async data"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/data-table-demo/examples/data-table-example-b/data-table-example-b.component.ts"
    >
        <app-data-table-example-b></app-data-table-example-b>
    </app-demo-example>
</app-demo>
