<app-demo
    title="Data Table"
    description="Displays tabular data."
    tsSourceUrl="projects/hammerhead-ui/src/lib/components/data-table/data-table.component.ts"
    templateSourceUrl="projects/hammerhead-ui/src/lib/components/data-table/data-table.component.html"
>
    <app-demo-example
        class="margin-bottom-heavy"
        description="Simple table, sortable by header"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/data-table-demo/examples/data-table-example-a/data-table-example-a.component.ts"
    >
        <app-data-table-example-a></app-data-table-example-a>
    </app-demo-example>

    <app-demo-example
        class="margin-bottom-heavy"
        description="Simple table with async data"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/data-table-demo/examples/data-table-example-b/data-table-example-b.component.ts"
    >
        <app-data-table-example-b></app-data-table-example-b>
    </app-demo-example>

    <app-demo-example
        class="margin-bottom-heavy"
        description="Simple table with custom column widths"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/data-table-demo/examples/data-table-example-c/data-table-example-c.component.ts"
    >
        <app-data-table-example-c></app-data-table-example-c>
    </app-demo-example>

    <app-demo-example
        description="Custom column widths and icon action buttons"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/data-table-demo/examples/data-table-example-d/data-table-example-d.component.ts"
    >
        <app-data-table-example-d></app-data-table-example-d>
    </app-demo-example>

    <app-demo-example
        description="Table with global filter"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/data-table-demo/examples/data-table-example-e/data-table-example-e.component.ts"
    >
        <app-data-table-example-e></app-data-table-example-e>
    </app-demo-example>

    <app-demo-example
        description="Table with custom header and data cell templates"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/data-table-demo/examples/data-table-example-f/data-table-example-f.component.ts"
    >
        <app-data-table-example-f></app-data-table-example-f>
    </app-demo-example>

    <app-demo-example
        description="Table with custom zero-state template"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/data-table-demo/examples/data-table-example-g/data-table-example-g.component.ts"
    >
        <app-data-table-example-g></app-data-table-example-g>
    </app-demo-example>

    <app-demo-example
        description="Master/detail"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/data-table-demo/examples/data-table-example-h/data-table-example-h.component.ts"
    >
        <app-data-table-example-h></app-data-table-example-h>
    </app-demo-example>
</app-demo>
