<!-- The content below is only a placeholder and can be replaced. -->
<div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
</div>
<hh-zero-state
    [hasAction]="true"
    actionText="Hello mom!"
    actionPosition="above"
    (doAction)="onAction()"
    [style.margin-bottom.px]="16"
></hh-zero-state>
<hh-zero-state
    [hasAction]="true"
    actionText="Hello mom!"
    (doAction)="onAction()"
    [style.margin-bottom.px]="16"
></hh-zero-state>
<hh-zero-state
    [hasAction]="true"
    actionText="Hello mom!"
    actionPosition="before"
    (doAction)="onAction()"
    [style.margin-bottom.px]="16"
></hh-zero-state>
<hh-zero-state
    [hasAction]="true"
    actionText="Hello mom!"
    actionPosition="after"
    (doAction)="onAction()"
></hh-zero-state>
