/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@import './color-variables';

$primary: mat-palette($mat-indigo);

html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

pre {
    margin: 0 !important;
}

markdown hr {
    margin: 48px 0 32px;
}

.bg-primary {
    background: mat-color($primary);
}

.cursor-pointer {
    cursor: pointer;
}

.margin-auto {
    margin: 0 auto !important;
}

.no-margin {
    margin: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-padding {
    padding: 0;
}

.margin-bottom-heavy {
    margin-bottom: 24px;
}

.invisible {
    display: none;
}
