<app-demo
    title="Context Menu"
    description="A right-click menu"
    [interfaceUrls]="['projects/hammerhead-ui/src/lib/interfaces/contextmenu-item.interface.ts']"
    tsSourceUrl="projects/hammerhead-ui/src/lib/directives/contextmenu.directive.ts"
>
    <app-demo-example
        class="margin-bottom-heavy"
        description="Basic context menu"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/context-menu-demo/examples/context-menu-example-a/context-menu-example-a.component.ts"
    >
        <app-context-menu-example-a></app-context-menu-example-a>
    </app-demo-example>
</app-demo>
