<app-demo
    title="Search Selector"
    description="A searchable select menu"
    tsSourceUrl="projects/hammerhead-ui/src/lib/components/search-selector/search-selector.component.ts"
    templateSourceUrl="projects/hammerhead-ui/src/lib/components/search-selector/search-selector.component.html"
>
    <app-demo-example
        class="margin-bottom-heavy"
        description="Simple trigger, single select mode"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/search-selector-demo/examples/search-selector-example-a/search-selector-example-a.component.ts"
    >
        <app-search-selector-example-a></app-search-selector-example-a>
    </app-demo-example>

    <app-demo-example
        class="margin-bottom-heavy"
        description="Multi-select mode"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/components/components/search-selector-demo/examples/search-selector-example-b/search-selector-example-b.component.ts"
    >
        <app-search-selector-example-b></app-search-selector-example-b>
    </app-demo-example>
</app-demo>
