<app-demo
    title="Proximity Dialog"
    description="Opens a modal dialog near the specified HTML anchor element"
    tsSourceUrl="projects/hammerhead-ui/src/lib/services/proximity-dialog/proximity-dialog.service.ts"
>
    <app-demo-example
        class="margin-bottom-heavy"
        description="Open a dialog near its trigger button"
        tsSourceUrl="projects/hammerhead-ui-app/src/app/views/services/components/proximity-dialog/examples/proximity-dialog-example-a/proximity-dialog-example-a.component.ts"
    >
        <app-proximity-dialog-example-a></app-proximity-dialog-example-a>
    </app-demo-example>
</app-demo>
